.discover .virtual h1{
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 4px;
    font-weight: 800;
}

.discover .virtual h1 .exWord{
    background: linear-gradient(45deg, #7351FC,#F96CFF, #BE00A0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.discover .virtual h5{
    font-weight: 400;
    color: #fff;
    line-height: 34.64px;
    margin: 10px 0;
    margin-right: 40px;
    width: 95%;
    font-size: 16px;
}

.duBtn button{
    width: 210px;
    height: 70px;
    margin: 30px 8px;
    background: none;
    border: 1px solid #fff;
    transform: skew(-20deg);
    cursor: pointer;
}

.duBtn button h2{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    transform: skew(20deg);

}

.duBtn button:hover{
    background-image: linear-gradient(45deg, #7351FC, #F96CFF, #BE00A0);
    color: #fff;
    border: none;
}

.discover{
    width: 85%;
    height: 530px;
    margin: 100px;
    padding: 40px;
    background: linear-gradient(45deg, #FFFFFF15, #D9D9D90B, #FFFFFF33);
    box-shadow: 0px 4px 20px -1px #00000000;
    border: 1px solid #6F5C9D;
    border-radius: 1%;
    display: flex;
    flex-direction: row-reverse;
}

.discover .virtual{
    width: 100%;
    margin: 0;
}


.discover .virtual .view{
    margin-right: 240px;
}

.discover .image img{
    margin-top: -130px;
    margin-right: -80px;
    width: 600px;
    height: 620px;
}


@media screen and (max-width: 420px) {
    .discover{
        width: 82vw;
        height: 780px;
        /* margin: 75px 30px;
        padding: 40px; */
        display: flex;
        flex-direction: row-reverse;
        margin: 30px 0;
        padding: 40px 20px;
        right: 0;
        margin-left: 7%;
    }
    

    
    .discover .virtual{
        width: 100%;
        margin: 0;
    } 

    .discover .virtual h1{
        font-size: 28.94px;
        width: 100%;
        letter-spacing: 2px;
    }
    
    .discover .virtual h5{
        width: 100%;
        font-size: 16px;
        line-height: 27.64px;
        letter-spacing: 0.5px;
        margin: 10px 0;
    }
    
    .discover .image img{
        margin-top: 369px;
        margin-right: -400px;
        width: 430px;
        height: 370px;
    }

    .duBtn button{
        width: 140px;
        height: 50px;
    }
    
    .duBtn button h2{
        font-size: 13px;
    }
}